-- Alter table accommodations to add total_rooms
ALTER TABLE accommodations ADD COLUMN IF NOT EXISTS total_rooms INT DEFAULT 0;

-- Alter table accommodations_rooms to add quantity
ALTER TABLE accommodations_rooms ADD COLUMN IF NOT EXISTS quantity INT DEFAULT 1;
